*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;;
}
nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
}
nav img{
    height: 100px;
    width: 100px;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 80px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
section{
  background: url("webpic.png") no-repeat;;
  background-size: cover;
  height: calc(100vh - 80px);
  align-items: center;
  display: flex;
  justify-content: center;
}

.section #under-button{
    text-align: center;
     color: white;
    font-size: 20px;
 }

.button{
    display: inline-flex;
    height: 100px;
    padding: 0;
    background: #0082e6;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 500;
    cursor: pointer;
}


.button:hover{
     background: #0166B3;
     
} 
 
.button:active{
     background: #004E8A;
}
 
.button__text,
.button__icon{
     display: inline-flex;
     align-items: center;
     padding: 0 24px;
     color: #fff;
     height: 100%;
 
}
 
.button__icon{
     font-size: 1.5em;
     background: rgba(0, 0, 0, 0.08);
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #0082e6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
    font-family: "Montserrat", sans-serif;
     font-size: 40px;
     font-weight: 500;
}

button:hover {
  opacity: 0.8;
}

button:active{
      background: #004E8A;
}

.container {
  padding: 16px;
}

.container #under-submit-button{
    text-align: center;
    color: white;
    font-size: 20px;
}

.container label{
    color: white;
}









.container2 .btn {
background-color: #0082e6;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
     font-family: "Montserrat", sans-serif;
      font-size: 40px;
      font-weight: 500;
 }

.container2 .btn:hover {
  background-color: #0166B3;
  color: white;
}

.container2 .btn:active{
    background-color: #004E8A;
}

.container2 #github{
    text-align: center;
     color: white;
    font-size: 20px;
}





